            <!-- Skills -->
            <div class="passions row margin-top-30">
              <div class="col-sm-6">
                {%- include subtitle.html subtitle="My passions" %}
              </div>
            </div>
            <div class="passions row">
              <div class="col-sm-12">
                <p>
                  I guess that one way to describe myself, is thrgough my
                  passions. From those deeply rooted in my childhood, to last
                  minute entries.
                </p>
              </div>
            </div>
            <div class="passions row margin-top-30">
              <div class="col-sm-6 item">

                <div class="passion">
                  <h5 class="name">Parenting</h5>
                  <div>
                    <span class="true"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                  </div>
                  <span>I know where the nappies are</span>
                </div>

                <div class="passion">
                  <h5 class="name">IT Engineering</h5>
                  <div>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="false"></span>
                  </div>
                  <span><q>He knows his s**t</q></span>
                </div>

                <div class="passion">
                  <h5 class="name">Scuba Diving</h5>
                  <div>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                  </div>
                  <span>Rescue Diver</span>
                </div>

                <div class="passion">
                  <h5 class="name">Business</h5>
                  <div>
                    <span class="true"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                  </div>
                  <span>I'm on a mission.</span>
                </div>

              </div>
              <div class="col-sm-6 item mob-margin-top-45">

                <div class="passion">
                  <h5 class="name">Pen &amp; Paper RPG</h5>
                  <div>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="true"></span>
                  </div>
                  <span>Yes, I owned the <q>red D&amp;D box</q></span>
                </div>

                <div class="passion">
                  <h5 class="name">Gaming</h5>
                  <div>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="false"></span>
                  </div>
                  <span>We couldn't afford to lose in the arcade era</span>
                </div>

                <div class="passion">
                  <h5 class="name">Cooking &amp; Baking</h5>
                  <div>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="true"></span>
                    <span class="false"></span>
                  </div>
                  <span>You wish you could taste my pizza</span>
                </div>

                <div class="passion">
                  <h5 class="name">Gunpla</h5>
                  <div>
                    <span class="false"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                  </div>
                  <span>Hey, I just bought my first kit</span>
                </div>

                <div class="passion">
                  <h5 class="name">Drawing</h5>
                  <div>
                    <span class="false"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                    <span class="false"></span>
                  </div>
                  <span>I can successfully draw a straight line</span>
                </div>

              </div>
            </div><!--.passions-->
