            <!-- Values -->
            <div class="values row margin-top-30">

              <div class="col-sm-6">
                {%- include subtitle.html subtitle="My values" %}
              </div>

            </div>
            <div class="values row">

              <div class="col-sm-12">
                <p>
                  Another good way of describing myself, could be through my
                  biases: we all have them. I'd rather share with you some of
                  my personal values and let you work out how I view the world.
                  This list does not represent all the personal values I can
                  come up with, but rather the most important or noteworthy.
                </p>
              </div>

            </div>
            <div class="values row margin-top-30">

              <div class="col-sm-6 item">
                <div class="content">
                  <div class="font-icon">
                    <i class="pe-7s-like"></i>
                  </div>
                  <div class="value_content">
                    <h4>Health</h4>
                    <p> Without our health, we would not be able to contribute to
                    our families or communities and, ultimately, there would be
                    no "us".</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 item">
                <div class="content">
                  <div class="font-icon">
                    <i class="pe-7s-smile"></i>
                  </div>
                  <div class="value_content">
                    <h4>Safety</h4>
                    <p>Phisical, emotional and financial safety are the base on
                    top of which we build our well-being.</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="values row margin-top-30">

              <div class="col-sm-6 item">
                <div class="content">
                  <div class="font-icon">
                    <i class="pe-7s-share"></i>
                  </div>
                  <div class="value_content">
                    <h4>Humanity</h4>
                    <p>We are all connected; our actions affect others even
                    if we can't see it. Be considerate of all other human
                    beings; care for and help others.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 item">
                <div class="content">
                  <div class="font-icon">
                    <i class="pe-7s-users"></i>
                  </div>
                  <div class="value_content">
                    <h4>Empathy</h4>
                    <p>Put yourself into other people's shoes; listen to their
                    story, understand their perspective, find a commong ground,
                    build bridges.</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="values row margin-top-30">

              <div class="col-sm-6 item">
                <div class="content">
                  <div class="font-icon">
                    <i class="pe-7s-diamond"></i>
                  </div>
                  <div class="value_content">
                    <h4>Integrity</h4>
                    <p>Be honest and true to yourself and others. Don't bend
                    your values. Be transparent.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 item">
                <div class="content">
                  <div class="font-icon">
                    <i class="pe-7s-unlock"></i>
                  </div>
                  <div class="value_content">
                    <h4>Opennes</h4>
                    <p>Be humble, accept criticism and other perspectives.
                    Don't hide personal vulnerabilities or knowledge.</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="values row margin-top-30">

              <div class="col-sm-6 item">
                <div class="content">
                  <div class="font-icon">
                    <i class="pe-7s-search"></i>
                  </div>
                  <div class="value_content">
                    <h4>Couriosity</h4>
                    <p></p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 item">
                <div class="content">
                  <div class="font-icon">
                    <i class="pe-7s-leaf"></i>
                  </div>
                  <div class="value_content">
                    <h4>Growth</h4>
                    <p></p>
                  </div>
                </div>
              </div>

            </div><!--.row-->
            <!--End Values -->
