          <!--Start Contact Section-->
          <section class="contact padding-bottom-90 pt-page" id="contact">
            <div class="content">
              <div class="container">
                <div class="sec_title">
                  <h2 class="secondary-font">Contact Me</h2>
                </div>
                
                <div class="row">
                  <div class="col-sm-5">
                    {%- include subtitle.html subtitle="Get in touch" %}
                    <div class="info">

                      <div class="item">
                        <span class="pe-7s-map-marker pe-3x pe-va icon"></span> 
                        <div>
                          <span>Find Me</span>
                          <p>Whitchurch, Shropshire, UK</p>
                        </div>
                      </div>

                      <div class="item">
                        <span class="pe-7s-call pe-3x pe-va icon"></span>
                        <div>
                          <span>Call Me</span>
                          <p><a href="skype:lucadevitis?call">on Skype</a></p>
                        </div>
                      </div>

                      <div class="item">
                        <span class="pe-7s-chat pe-3x pe-va icon"></span>
                        <div>
                          <span>Message me</span>
                          <p><a href="skype:lucadevitis?chat">on Skype</a></p>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-sm-7">
                    {%- include subtitle.html subtitle="Contact Me" %}
                    {%- include contact-form.html %}
                  </div>
                </div>

              </div><!--.container-->  
            </div><!--.content-->  
          </section>
          <!--End Contact Section-->

