        <!--Start Home-->
        <div class="home_type full-height">
          <div class="side side-left container">
            <div class="overlayer">
             <div id="particles-js"></div>
             <div class="display-table">
               <div class="display-table-cell">
                 <img class="logo" src="/assets/images/squared-me.png">
                 <h1 class="primary-font">Luca De Vitis</h1>
                 <h2 class="secondary-font">I AM <span id="typed"></span></h2>
                 <div class="secondary-font" id="typed-strings">
                   <span>A DAD</span>
                   <span>A DEVOPS ENGINEER</span>
                   <span>AN IT COACH</span>
                   <span>A LOT OF OTHER THINGS</span>
                 </div>
                 <dl class="more_info">
                   <dt class="info-font">Release date</dt>
                   <dd class="info-body">09-02-1977</dd>
                   <dt class="info-font">Class</dt>
                   <dd class="info-body">Human Being</dd>
                   <dt class="info-font">Shape</dt>
                   <dd class="info-body">Actually not so edgy</dd>
                   <dt class="info-font">Input</dt>
                   <dd class="info-body">(Mostly) Healthy</dd>
                   <dt class="info-font">Energy Level</dt>
                   <dd class="info-body">Moderate to High</dd>
                   <dt class="info-font">Current Location</dt>
                   <dd class="info-body">Whitchurch, Shropshire, UK</dd>
                 </dl><!--.more_info-->
               </div><!--.display-table-cell-->
             </div><!--.display-table-->
            </div><!--.overlayer-->
          </div><!--.side-->
        </div><!--.home_type-->
        <!--End Home-->
