@font-face {
    font-family: 'HACKED';
    src: url('/assets/fonts/HACKED.woff2') format('woff2'),
        url('/assets/fonts/HACKED.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

